button {
    background: none;
    border: 2px solid;
    outline: none;
    font: inherit;
    margin: 0.5em;
    padding: 1em 2em;
    color: #009688;
    transition: 0.25s;
    text-transform: uppercase;
  }
  button:hover {
    border-color: #4caf50;
    color: white;
    box-shadow: inset 0 0 0 2em #4caf50;
  }

 